body {
            display: flex;
            flex-direction: column;
        }

        header {
            width: 100%;
            display: flex;
        }

        header video {
            margin: 0 auto;
        }

        main {
            display: flex;
            flex-direction: row;

        }

        section {}

        nav {

            margin-left: auto;
            flex-direction: column;
            display: flex;
        }

        nav a {
            
        }